In [1]:
import os
os.rename("sample.txt","demo.txt")

In [2]:
os.remove("demo.txt")

## Tuple:
1. Immutable
2. using( ) elements are seperated by ,
3. Indexed,Ordered

In [4]:
#Tuple
tupl = (12,3,345.56,"abc",True)
print(type(tupl))

<class 'tuple'>

In [5]:
print(tupl[2])
print(tupl[-1])

345.56
True

In [7]:
list1=list(tupl)
list1[2]=100
tupl=tuple(list1)
tupl

(12, 3, 100, 'abc', True)

### Built-in methods:
1. count()
2. index()

In [8]:
print(tupl.count(12))
print(tupl.index(12))

1
0

### Packing and Unpacking

In [9]:
#packing
x=10,20,30
print(type(x))
print(x)

<class 'tuple'>
(10, 20, 30)

In [10]:
#unpacking
tup2=(12,232,4,354)
a,b,c,d=tup2
print(d)

354

In [11]:
#Tuple with single element
y=(10,)
print(type(y))

<class 'tuple'>

In [14]:
#Iterating through tuple:
for ele in x:
    print(ele,end=" ")

10 20 30

### set:
1. { }
2. Does not allow duplicate values
3. Not ordered
4. unindexed
5. mutable

In [13]:
set1 = {1,2,334,45,5,6,2,1}
print(set1)

{1, 2, 5, 6, 45, 334}

In [15]:
for ele in set1:
    print(ele)

1
2
5
6
45
334

## Built-In functions:
1. min()
2. max()
3. len()
4. set()

In [16]:
print(set1)
print(len(set1))
print(min(set1))
print(max(set1))

{1, 2, 5, 6, 45, 334}
6
1
334

In [17]:
#Removing duplicates from list
list1=[1,2,3,4,5,1,2,3]
list1=set(list1)
list1

{1, 2, 3, 4, 5}

In [20]:
set2 = set()

print(type(set2))

<class 'set'>

### built-in methods:
 #### adding an element
 1. add()
 #### removing an element
 2. pop()
 3. remove()
 4. discard()
 5. clear()

In [21]:
# adding an element
set2.add(12)
set2.add(23)
set2.add(100)
set2

{12, 23, 100}

In [22]:
set2.pop()

100

In [23]:
set2.remove(12)
set2

{23}

In [24]:
set2.discard(12)

In [25]:
set2.clear()
set2

set()

In [26]:
#union,difference(A-B orB-A),
#intersection,subset,super set,disjoint
#symetric difference
A={1,2,3,4,5}
B={3,4,5,6,7}
#union A U b==>{1,2,3,4,5,6,7}
print(A.union(B))
#diffe
#A-B==>{1,2}
#B-A==>{8,9}
print(A.difference(B))
print(B.difference(A))
# intersection A and B ==> {3,4,5}
print(A.intersection(B))

{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{6, 7}
{3, 4, 5}

In [28]:
#subset,super set,disjoint
#symmetric difference
C={1,2,3,4,5,6,7,8,9,10}
print(A.issubset(C))
print(A.issubset(B))
print(C.issuperset(C))
print(C.issuperset(B))

True
False
True
True

In [30]:
#disjoint
X={1,2}
Y={62,5,54}
print(A.isdisjoint(B))
print(X.isdisjoint(Y))

False
True

In [31]:
#symmetric difference
print(A.symmetric_difference(B))

{1, 2, 6, 7}

In [32]:
A.update(B)
print(A)
print(B)

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [33]:
A.intersection_update(B)
print(A)
print(B)

{3, 4, 5, 6, 7}
{3, 4, 5, 6, 7}

In [34]:
A.difference_update(B)
print(A)
print(B)

set()
{3, 4, 5, 6, 7}

In [35]:
A.symmetric_difference_update(B)
print(A)
print(B)

{5, 4, 3, 6, 7}
{3, 4, 5, 6, 7}

In [36]:
A={1,2,3}
B={2,3,4}
print(A.difference(B))
print(B.difference(A))
print(A.symmetric_difference(B))
print(A)
print(B)

{1}
{4}
{1, 4}
{1, 2, 3}
{2, 3, 4}

### Dictionary:

```dictionary name={key1:value1,key2:value2,key3:..........}

## Rules for Key:
1. keys should be unique
2. keys should be immutable(example:numerics,string,tuple)

In [77]:
#creating a dictionary
dict1={"name":"aashrith","emp id":1234,"address":"hyd"}
print(dict1)

{'name': 'aashrith', 'emp id': 1234, 'address': 'hyd'}

In [78]:
#Extracting an element
print(dict1["emp id"])

1234

In [79]:
#Removing or deleting an entry
del dict1["address"]
print(dict1)

{'name': 'aashrith', 'emp id': 1234}

In [80]:
#Adding an entry
dict1["course"]="python"
print(dict1)

{'name': 'aashrith', 'emp id': 1234, 'course': 'python'}

### Built-in methods in dictionary:
1. keys()
2. items()
3. get()
4. items()
5. update()
6. pop()
7. popitem()

In [81]:
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['name', 'emp id', 'course'])
dict_values(['aashrith', 1234, 'python'])
dict_items([('name', 'aashrith'), ('emp id', 1234), ('course', 'python')])

In [82]:
print(dict1["name"])
print(dict1.get("name"))

aashrith
aashrith

In [83]:
#Adding an entry
dict1["address"]="hyd"
dict1

{'name': 'aashrith', 'emp id': 1234, 'course': 'python', 'address': 'hyd'}

In [84]:
d={1:1,2:2,3:3}
dict1.update(d)
print(dict1)

{'name': 'aashrith', 'emp id': 1234, 'course': 'python', 'address': 'hyd', 1: 1, 2: 2, 3: 3}

In [85]:
#Removing an entry ==> pop(),popitem()
dict1.pop("name")
dict1

{'emp id': 1234, 'course': 'python', 'address': 'hyd', 1: 1, 2: 2, 3: 3}

In [86]:
dict1.popitem()

(3, 3)

In [87]:
dict1

{'emp id': 1234, 'course': 'python', 'address': 'hyd', 1: 1, 2: 2}