In [8]:
import numpy as py
import pandas as pd
data1 = {"Student ID":[416,375,400,211,312,523],
        "Taken Internship":['Yes','No','Yes','No','Yes','Yes'],
         "Percentage":[80,55,65,70,60,75],
        "Communication":[7,6,5,8,9,5],
        "Placed":["Yes","No","No","Yes","Yes","Yes"]}
placement_data1  =  pd.DataFrame(data1)

placement_data1

   Student ID Taken Internship  Percentage  Communication Placed
0         416              Yes          80              7    Yes
1         375               No          55              6     No
2         400              Yes          65              5     No
3         211               No          70              8    Yes
4         312              Yes          60              9    Yes
5         523              Yes          75              5    Yes

In [9]:
placement_data1['Communication']>6

0     True
1    False
2    False
3     True
4     True
5    False
Name: Communication, dtype: bool

In [10]:
st=[311,6]
def placement_predition(st):
    if st[1]>6:
        return "yes"
    else:
        return "no"

In [11]:
placement_predition(st)

'no'

In [12]:
st=[234,6]
def placement_predition(st):
    if st[1]>6:
        return "yes"
    else:
        return "no"

In [13]:
placement_predition(st)

'no'

## ALGORITHM ,MODEL
1. DECISON TREE CLASSIFIER
2. AVAILABLE DTC
3. DECISION TREE CLASSIFIER
4. FIT(FEATURES , TARGET)/FIT(INPUTS,OUTPUTS)
5. PLACED FEATURE - 2D ARRAY PLACED - 1D ARRAY
6. PREDICT
### get the communication as a 2d aray

In [14]:
placement_data1[['Communication']]

   Communication
0              7
1              6
2              5
3              8
4              9
5              5

In [16]:
placement_data1[['Communication']].shape

(6, 1)

In [17]:
placement_data1[['Communication','Placed']]

   Communication Placed
0              7    Yes
1              6     No
2              5     No
3              8    Yes
4              9    Yes
5              5    Yes

In [18]:
placement_data1[['Communication']]

   Communication
0              7
1              6
2              5
3              8
4              9
5              5

In [19]:
## machine learning algo
import sklearn 
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
# training model 
dtc.fit(placement_data1[['Communication']],placement_data1['Placed'])
## after u run u will get the trained dat in dtc()

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [20]:
placement_data1['Placed']

0    Yes
1     No
2     No
3    Yes
4    Yes
5    Yes
Name: Placed, dtype: object

In [21]:
dtc.predict([[8]])

array(['Yes'], dtype=object)

In [22]:
dtc.predict([[8],[7.5],[3.4]])

array(['Yes', 'Yes', 'No'], dtype=object)

## labelled anunlabblled data

1. labellled means alog with placed column
2. unlabbelled without placed column

In [23]:
data3 = {"Student ID":[416,375,400,211],
         "Internal Marks":[25,30,18,15],
         "No of Hours Study":[2,1,2,3],
         "Marks":[76.5,87,59,53.5]}
marks_data2 = pd.DataFrame(data3)
marks_data2

   Student ID  Internal Marks  No of Hours Study  Marks
0         416              25                  2   76.5
1         375              30                  1   87.0
2         400              18                  2   59.0
3         211              15                  3   53.5

In [24]:
marks_data2.iloc[:,1:3]

   Internal Marks  No of Hours Study
0              25                  2
1              30                  1
2              18                  2
3              15                  3

In [25]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(marks_data2.iloc[:,1:3],marks_data2['Marks'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# y=m1x1+m2x2+c
## predict m1,m2 and c
# y marks
1. x1- internal marks
2. x2- no of hours study

In [26]:
lr.coef_

array([2.5, 2. ])

In [27]:
lr.intercept_

10.000000000000007

In [28]:
lr.predict(marks_data2.iloc[:,1:3] )

array([76.5, 87. , 59. , 53.5])

In [29]:
marks_data2['Marks']

0    76.5
1    87.0
2    59.0
3    53.5
Name: Marks, dtype: float64

## question no 1:

In [30]:
def l(x):
    return x[1:]+x[0]
def r(x):
    return x[-1]+x[0:len(x)-1]
n=int(input())
list1=[input() for i in range(n)]
for x in list1:
    if l(x)==r(x):
        print("yes")
    else:
        print("no")

4
a
aa
ab
abcd
yes
yes
yes
no